USE [master]
GO
/****** Object:  Database [StudentDB]    Script Date: 9/28/2025 10:48:42 AM ******/
CREATE DATABASE [StudentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentDB', FILENAME = N'F:\New folder\MSSQL16.MSSQLSERVER\MSSQL\DATA\StudentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentDB_log', FILENAME = N'F:\New folder\MSSQL16.MSSQLSERVER\MSSQL\DATA\StudentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDB]
GO
/****** Object:  Table [dbo].[Tbl_Student]    Script Date: 9/28/2025 10:48:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RollNo] [varchar](50) NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](50) NULL,
	[DeleteFlag] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_Student] ON 

INSERT [dbo].[Tbl_Student] ([Id], [RollNo], [Name], [Email], [DeleteFlag]) VALUES (1, N'R0001', N'Mg Mg', N'mgmg@mail.com', 0)
INSERT [dbo].[Tbl_Student] ([Id], [RollNo], [Name], [Email], [DeleteFlag]) VALUES (2, N'R0002', N'Ko Ko', N'koko@gmail.com', 0)
INSERT [dbo].[Tbl_Student] ([Id], [RollNo], [Name], [Email], [DeleteFlag]) VALUES (3, N'R0003', N'Ma Ma', N'mama@gmail.com', 0)
SET IDENTITY_INSERT [dbo].[Tbl_Student] OFF
GO
ALTER TABLE [dbo].[Tbl_Student] ADD  CONSTRAINT [DF_Tbl_Student_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
USE [master]
GO
